body{
    background-color: blanchedalmond;
}

h1 {
    color: black;
    text-align: center;
    background-color: lightsalmon;
    text-decoration: underline;
    font-family: cursive;
    margin: 25px;
    border: 3px solid black;
}

#guess_form{
    margin: 25px;
    background-color: lightgrey;
    border: 3px solid black;
    padding: 12px;
}

table, th, td{
    margin: 25px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 15px;
    color: blue;
}




